 <!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Payment</h1>
    <form action="/payment/results">
      <div>
        <label for="payment_id">Enter a number</label>
      </div>
      <div>
        <input id="payment_id" name="payment">
      </div>
      <button>Calculate payment</button>
    </form>
  </body>
</html>
