<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Random</h1>
    <form action="/random/results">
      <div>
        <label for="random_id">Enter a number</label>
      </div>
      <div>
        <input id="random_id" name="random">
      </div>
      <button>Calculate number</button>
    </form>
  </body>
</html>
